<head>
    <title>Action</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <div class="card-container">
        <img style="margin: auto;" src={{propic}}>
        <h3>{{username}}</h3>
        <p>{{text}}</p>
        <div class="buttons">
            <form action="/unfollow_page">
                <button class="primary ghost", type="submit">
                    UnFollow
                </button>
            </form>
        </div>
    </div>
</body>
</html>