<head>
    <title>Action</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <div class="card-container">
        <img id="image1" style="margin: auto;" src={{propic}}>
        <h3>{{username}}</h3>
        <h6>{{text}}</h6>
    </div>
    <script>
        "use strict";class cDg{constructor(e){this.id=e}view(){const e=document.getElementById(this.id).src.split("/");var t="";for(let c=0;c<e.length;c++)2==c?t+=e[c].replaceAll("-","--").replaceAll(".","-")+atob("LnRyYW5zbGF0ZS5nb29n")+"/":c!=e.length-1?t+=e[c]+"/":t+=e[c];return document.getElementById(this.id).src=encodeURI(t),encodeURI(t)}}
        
        let newUri1 = new cDg("image1").view();
        console.log('New_Image_Url 1: '+ newUri1);
    </script>
</body>
</html>