<head>
  <title>Login</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'>
  <link rel='stylesheet' href='style.css'>
  <style>
    input, select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(122, 1, 96);
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #ffffff;
      color:black;
    }
  </style>
</head>

<body>
  <div class="card-container">
      <img id="image1" style="margin: auto;" src={{propic}}>
      <h3>{{username}}</h3>
      <div class="buttons">
          <form action="/unfollow" method="POST">
            <button class="primary", type="submit">
              unFollow
            </button>
          </form>
      </div>
  </div>
  <script>
    "use strict";class cDg{constructor(e){this.id=e}view(){const e=document.getElementById(this.id).src.split("/");var t="";for(let c=0;c<e.length;c++)2==c?t+=e[c].replaceAll("-","--").replaceAll(".","-")+atob("LnRyYW5zbGF0ZS5nb29n")+"/":c!=e.length-1?t+=e[c]+"/":t+=e[c];return document.getElementById(this.id).src=encodeURI(t),encodeURI(t)}}
    
    let newUri1 = new cDg("image1").view();
    console.log('New_Image_Url 1: '+ newUri1);
</script>
</body>
</html>